[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioworkers-orm = "*"
django = "*"
aioworkers = "==0.18"
databases = "*"

[dev-packages]
pytest = "*"
pyyaml = "*"
ipython = "*"
aiosqlite = "*"
pytest-flake8 = "*"
pytest-django = "*"
pytest-aioworkers = "*"
pytest-runner = "*"
flake8-isort = "*"
pytest-pythonpath = "*"
isort = "==5.11.2"

[requires]
python_version = "3.7"
